body {
    text-align : center;
  }
  canvas {
    display : block;
    width : 280px;
    height : 210px;
    margin : auto;
    padding : 0;
    border : none;
    background-color : black;
  }
  button {
    display : block;
    font-size : inherit;
    margin : auto;
    padding : 0.6em;
  }